{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>

<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_004.jpg' %}')";>
  <div class="overlay"></div>
  <div class="container">
   <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
     
   </div>
</div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt">
   <div class="container">
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-5 order-md-last">
          <div class="login-wrap p-4 p-md-5">
             {% if msg%}
               <b style="color:blue" >{{msg}}</b>
             {% endif %}
              <h3 class="mb-4">Change Password</h3>
              <form action="{% url 'change-password' %}" method="post" >
                {% csrf_token %}
                <div class="form-group">
                 <label class="label" for="password">Old Password</label>
                 <input id="password-field" type="password" name="password" class="form-control" placeholder="Old Password">
                </div>
                <div class="form-group">
                 <label class="label" for="password">New Password</label>
                 <input id="password-field" type="password" name="newpassword" class="form-control" placeholder="New Password">
                </div>    
                <div class="form-group">
                 <label class="label" for="password">Confirm New Password</label>
                 <input id="password-field" type="password" name="cnewpassword" class="form-control" placeholder="Confirm New Password">
                </div>
             <div class="form-group d-flex justify-content-end mt-10">
                 <input type="submit" value="Change Password" class="btn btn-primary" />
             </div>
         </form>
     </div>
 </div>
</div>
</div>
</section>
</center>
</body>
</html>
{% endblock %}